#include "Resource.h"

IDR_MYMENU MENU
BEGIN
    POPUP "&File"
    BEGIN
        MENUITEM "E&xit", ID_FILE_EXIT
    END

    POPUP "&Stuff"
    BEGIN
        MENUITEM "&Go", ID_STUFF_GO
        MENUITEM "G&o somewhere else", 0, GRAYED
    END
    POPUP "&Help"
    BEGIN
        MENUITEM "Sobre", ID_HELP_ABOUT
    END
END

IDI_MYICON ICON DISCARDABLE "meu_icone.ico"

IDD_ABOUT DIALOGEX DISCARDABLE 0, 0, 239, 66
STYLE 0x16C00000  // DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "MINHA CAIXETA"
FONT 10, "MS Sans Serif", 0, 0, 0
BEGIN
    DEFPUSHBUTTON "&Ok", IDOK, 174, 18, 50, 14
    PUSHBUTTON "&CANCEL", IDCANCEL, 174, 35, 50, 14
    GROUPBOX "Sobre este programa...", IDC_STATIC, 7, 7, 225, 52
    CTEXT "UM MONTE DE BOSTA\r\n\nby BLAKO", IDC_STATIC, 16, 18, 144, 33, 0x00004000
END